In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import sys
import os

In [3]:
current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, os.pardir))
other_folder = os.path.join(parent_dir, 'app')
sys.path.append(other_folder)

In [4]:
from lib import *

Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.

Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

In [5]:
shop_sales = pd.read_csv('../app/test_data/shop_sales.csv')
shop_sales_dates = pd.read_csv('../app/test_data/shop_sales_dates.csv')
shop_sales_prices = pd.read_csv('../app/test_data/shop_sales_prices.csv')

In [6]:
df = merge_files_to_dataset(shop_sales, shop_sales_prices, shop_sales_dates)

In [7]:
df = summ_sales_data(df, 'date', granularity = 'Day')

In [8]:
df = df_encoding(df)

In [9]:
df['date'].max()

Timestamp('2016-01-21 00:00:00')

In [10]:
df['item_id'].unique()

array(['STORE_2_085', 'STORE_2_043', 'STORE_2_054', 'STORE_2_325',
       'STORE_2_090', 'STORE_2_252', 'STORE_2_376', 'STORE_2_391',
       'STORE_2_524', 'STORE_2_555', 'STORE_2_586', 'STORE_2_587',
       'STORE_2_681', 'STORE_2_714', 'STORE_2_716', 'STORE_3_012',
       'STORE_3_114', 'STORE_3_357', 'STORE_3_360', 'STORE_3_090',
       'STORE_3_169', 'STORE_3_222', 'STORE_3_252', 'STORE_3_358',
       'STORE_3_389', 'STORE_3_555', 'STORE_3_586', 'STORE_3_587',
       'STORE_3_714', 'STORE_3_804', 'STORE_1_064', 'STORE_1_065',
       'STORE_1_325', 'STORE_1_376', 'STORE_1_090', 'STORE_1_252',
       'STORE_1_339', 'STORE_1_546', 'STORE_1_547', 'STORE_1_555',
       'STORE_1_584', 'STORE_1_586', 'STORE_1_587', 'STORE_1_714',
       'STORE_1_727'], dtype=object)

In [11]:
data_prediction, model, horizont = get_preds(df, ['STORE_1_584'], 2)

запуск первого шага
мы сошлись
[]
10000000000

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
data_prediction

,cnt_SMA_3_lag_2,cnt_WMA_3_lag_2,cnt_EMA_3_lag_2,mean,item_id,date,cnt,model_prediction,arima_prediction
0,0.333333,0.333333,0.607637,1.25,STORE_1_584,2015-12-17,0.0,2.962588,1.506920
1,0.666667,0.666667,0.803819,1.25,STORE_1_584,2015-12-18,1.0,3.115803,1.403077
2,0.333333,0.333333,0.401909,1.25,STORE_1_584,2015-12-19,1.0,2.962588,1.399992
3,0.666667,0.666667,0.700955,1.25,STORE_1_584,2015-12-20,1.0,2.962588,1.377599
4,0.666667,0.833333,0.850477,1.25,STORE_1_584,2015-12-21,2.0,2.968484,1.356460
5,1.000000,1.000000,0.925239,1.25,STORE_1_584,2015-12-22,0.0,2.876810,1.411968
6,1.333333,1.500000,1.462619,1.25,STORE_1_584,2015-12-23,0.0,3.030980,1.293960
7,1.000000,0.833333,0.731310,1.25,STORE_1_584,2015-12-24,0.0,2.962588,1.221520
8,0.666667,0.333333,0.365655,1.25,STORE_1_584,2015-12-25,0.0,2.962588,1.153136
9,0.000000,0.000000,0.182827,1.25,STORE_1_584,2015-12-26,2.0,3.016293,1.088579
10,0.000000,0.000000,0.091414,1.25,STORE_1_584,2015-12-27,1.0,3.016293,1.178564
11,0.666667,1.000000,1.045707,1.25,STORE_1_584,2015-12-28,0.0,3.030980,1.149087
12,1.000000,1.166667,1.022853,1.25,STORE_1_584,2015-12-29,1.0,3.287011,1.065277
13,1.000000,0.666667,0.511427,1.25,STORE_1_584,2015-12-30,0.0,2.962588,1.081103
14,0.666667,0.666667,0.755713,1.25,STORE_1_584,2015-12-31,1.0,2.962588,1.001099
15,0.333333,0.333333,0.377857,1.25,STORE_1_584,2016-01-01,1.0,2.962588,1.020518
16,0.666667,0.666667,0.688928,1.25,STORE_1_584,2016-01-02,4.0,2.962588,1.019369
17,0.666667,0.833333,0.844464,1.25,STORE_1_584,2016-01-03,3.0,2.968484,1.244676
18,2.000000,2.500000,2.422232,1.25,STORE_1_584,2016-01-04,0.0,3.064977,1.323464
19,2.666667,3.000000,2.711116,1.25,STORE_1_584,2016-01-05,0.0,3.434326,1.190931
20,2.333333,1.666667,1.355558,1.25,STORE_1_584,2016-01-06,3.0,3.294227,1.124259
21,1.000000,0.500000,0.677779,1.25,STORE_1_584,2016-01-07,1.0,2.962588,1.287710
22,1.000000,1.500000,1.838890,1.25,STORE_1_584,2016-01-08,2.0,3.030980,1.232643
23,1.333333,1.500000,1.419445,1.25,STORE_1_584,2016-01-09,0.0,3.030980,1.295082
24,2.000000,1.833333,1.709722,1.25,STORE_1_584,2016-01-10,1.0,2.951092,1.183619
25,1.000000,0.833333,0.854861,1.25,STORE_1_584,2016-01-11,0.0,2.968484,1.192819
26,1.000000,0.833333,0.927431,1.25,STORE_1_584,2016-01-12,3.0,2.876810,1.106561
27,0.333333,0.333333,0.463715,1.25,STORE_1_584,2016-01-13,1.0,2.962588,1.271003
28,1.333333,1.666667,1.731858,1.25,STORE_1_584,2016-01-14,2.0,3.030980,1.216871
29,1.333333,1.500000,1.365929,1.25,STORE_1_584,2016-01-15,1.0,3.030980,1.280193
30,2.000000,1.833333,1.682964,1.25,STORE_1_584,2016-01-16,3.0,2.951092,1.245027
31,1.333333,1.333333,1.341482,1.25,STORE_1_584,2016-01-17,0.0,3.030980,1.382237
32,2.000000,2.166667,2.170741,1.25,STORE_1_584,2016-01-18,1.0,3.064977,1.246413
33,1.333333,1.166667,1.085371,1.25,STORE_1_584,2016-01-19,1.0,3.030980,1.252099
34,1.333333,1.000000,1.042685,1.25,STORE_1_584,2016-01-20,7.0,3.030980,1.237985
35,0.666667,0.833333,1.021343,1.25,STORE_1_584,2016-01-21,1.0,3.287011,1.677444
36,3.000000,4.000000,4.010671,1.25,STORE_1_584,2016-01-22,NaN,3.694950,1.522637
37,3.000000,3.000000,2.505336,1.25,STORE_1_584,2016-01-23,NaN,3.254137,1.532818

In [13]:
result = evaluate_predictions(data_prediction, horizont)

In [14]:
result

         Prediction        MAPE       MAE      RMSE
0  model_prediction  131.563939  1.587945  1.819629
1   cnt_SMA_3_lag_2   54.761905  1.125000  1.662495
2              mean   36.842758  0.916667  1.527525
3  arima_prediction   38.300528  0.948841  1.569897