In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import sys
import os

In [3]:
current_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(current_dir, os.pardir))
other_folder = os.path.join(parent_dir, 'app')
sys.path.append(other_folder)

In [4]:
from lib import *

Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.

Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

In [5]:
shop_sales = pd.read_csv('../app/test_data/shop_sales.csv')
shop_sales_dates = pd.read_csv('../app/test_data/shop_sales_dates.csv')
shop_sales_prices = pd.read_csv('../app/test_data/shop_sales_prices.csv')

In [6]:
df = merge_files_to_dataset(shop_sales, shop_sales_prices, shop_sales_dates)

In [7]:
df = summ_sales_data(df, 'date', granularity = 'Day')

In [8]:
df = df_encoding(df)

In [9]:
data_prediction = get_preds(df, ['STORE_1_714'], 1)

запуск первого шага
new var_for_add ! month_lag_1
едем дальше
в итоге получили список ['month_lag_1']
запуск первого шага
new var_for_add ! cnt_EMA_3_lag_1
new var_for_add ! cnt_WMA_3_lag_1
едем дальше
в итоге получили список ['month_lag_1', 'cnt_WMA_3_lag_1']
запуск первого шага
new var_for_add ! weekday_Friday_lag_1
едем дальше
в итоге получили список ['month_lag_1', 'cnt_WMA_3_lag_1', 'weekday_Friday_lag_1']
запуск первого шага
new var_for_add ! year_lag_1
едем дальше
в итоге получили список ['month_lag_1', 'cnt_WMA_3_lag_1', 'weekday_Friday_lag_1', 'year_lag_1']
запуск первого шага
new var_for_add ! weekday_Sunday_lag_1
едем дальше
в итоге получили список ['month_lag_1', 'cnt_WMA_3_lag_1', 'weekday_Friday_lag_1', 'year_lag_1', 'weekday_Sunday_lag_1']
запуск первого шага
мы сошлись
['month_lag_1', 'cnt_WMA_3_lag_1', 'weekday_Friday_lag_1', 'year_lag_1', 'weekday_Sunday_lag_1']
0.424

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
No frequency information was provided, so inferred frequency D will be used.
No frequency information was provided, so inferred frequency D will be used.
No frequency information was provided, so inferred frequency D will be used.
Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [10]:
data_prediction

,month_lag_1,cnt_WMA_3_lag_1,weekday_Friday_lag_1,year_lag_1,weekday_Sunday_lag_1,mean,cnt_SMA_3_lag_1,item_id,date,cnt,model_prediction,arima_prediction
80000,12.0,12.000000,0.0,2015.0,0.0,16.5,13.333333,STORE_1_714,2015-12-17,20.0,16.257999,16.034621
80001,12.0,15.333333,0.0,2015.0,0.0,16.5,13.666667,STORE_1_714,2015-12-18,20.0,19.190921,16.034621
80002,12.0,18.500000,1.0,2015.0,0.0,16.5,17.000000,STORE_1_714,2015-12-19,34.0,22.528674,16.034621
80003,12.0,27.000000,0.0,2015.0,0.0,16.5,24.666667,STORE_1_714,2015-12-20,12.0,23.870809,16.034621
80004,12.0,20.666667,0.0,2015.0,1.0,16.5,22.000000,STORE_1_714,2015-12-21,10.0,18.217096,16.034621
80005,12.0,14.666667,0.0,2015.0,0.0,16.5,18.666667,STORE_1_714,2015-12-22,26.0,19.190921,16.034621
80006,12.0,18.333333,0.0,2015.0,0.0,16.5,16.000000,STORE_1_714,2015-12-23,25.0,19.138627,16.034621
80007,12.0,22.833333,0.0,2015.0,0.0,16.5,20.333333,STORE_1_714,2015-12-24,15.0,20.393423,16.034621
80008,12.0,20.166667,0.0,2015.0,0.0,16.5,22.000000,STORE_1_714,2015-12-25,1.0,19.278077,16.034621
80009,12.0,9.666667,1.0,2015.0,0.0,16.5,13.666667,STORE_1_714,2015-12-26,14.0,18.929496,16.034621
80010,12.0,9.833333,0.0,2015.0,0.0,16.5,10.000000,STORE_1_714,2015-12-27,15.0,15.194530,16.034621
80011,12.0,12.333333,0.0,2015.0,1.0,16.5,10.000000,STORE_1_714,2015-12-28,9.0,16.221920,16.034621
80012,12.0,11.833333,0.0,2015.0,0.0,16.5,12.666667,STORE_1_714,2015-12-29,13.0,16.257999,16.034621
80013,12.0,12.000000,0.0,2015.0,0.0,16.5,12.333333,STORE_1_714,2015-12-30,17.0,16.257999,16.034621
80014,12.0,14.333333,0.0,2015.0,0.0,16.5,13.000000,STORE_1_714,2015-12-31,21.0,19.190921,16.034621
80015,12.0,18.333333,0.0,2015.0,0.0,16.5,17.000000,STORE_1_714,2016-01-01,24.0,19.138627,16.034621
80016,1.0,21.833333,1.0,2016.0,0.0,16.5,20.666667,STORE_1_714,2016-01-02,23.0,24.508884,16.034621
80017,1.0,23.000000,0.0,2016.0,0.0,16.5,22.666667,STORE_1_714,2016-01-03,15.0,15.466527,16.034621
80018,1.0,19.166667,0.0,2016.0,1.0,16.5,20.666667,STORE_1_714,2016-01-04,22.0,14.252448,16.034621
80019,1.0,19.833333,0.0,2016.0,0.0,16.5,20.000000,STORE_1_714,2016-01-05,14.0,16.137194,16.034621
80020,1.0,16.833333,0.0,2016.0,0.0,16.5,17.000000,STORE_1_714,2016-01-06,10.0,15.813067,16.034621
80021,1.0,13.333333,0.0,2016.0,0.0,16.5,15.333333,STORE_1_714,2016-01-07,22.0,15.563205,16.034621
80022,1.0,16.666667,0.0,2016.0,0.0,16.5,15.333333,STORE_1_714,2016-01-08,21.0,15.813067,16.034621
80023,1.0,19.500000,1.0,2016.0,0.0,16.5,17.666667,STORE_1_714,2016-01-09,24.0,22.452638,16.034621
80024,1.0,22.666667,0.0,2016.0,0.0,16.5,22.333333,STORE_1_714,2016-01-10,7.0,16.894363,16.034621
80025,1.0,15.000000,0.0,2016.0,1.0,16.5,17.333333,STORE_1_714,2016-01-11,11.0,13.678459,16.034621
80026,1.0,11.833333,0.0,2016.0,0.0,16.5,14.000000,STORE_1_714,2016-01-12,15.0,13.809200,16.034621
80027,1.0,12.333333,0.0,2016.0,0.0,16.5,11.000000,STORE_1_714,2016-01-13,20.0,13.809200,16.034621
80028,1.0,16.833333,0.0,2016.0,0.0,16.5,15.333333,STORE_1_714,2016-01-14,13.0,15.813067,16.034621
80029,1.0,15.666667,0.0,2016.0,0.0,16.5,16.000000,STORE_1_714,2016-01-15,16.0,15.563205,16.034621
80030,1.0,15.666667,1.0,2016.0,0.0,16.5,16.333333,STORE_1_714,2016-01-16,19.0,21.805043,16.034621
80031,1.0,17.000000,0.0,2016.0,0.0,16.5,16.000000,STORE_1_714,2016-01-17,18.0,15.813067,16.034621
80032,1.0,18.000000,0.0,2016.0,1.0,16.5,17.666667,STORE_1_714,2016-01-18,10.0,14.252448,16.034621
80033,1.0,14.166667,0.0,2016.0,0.0,16.5,15.666667,STORE_1_714,2016-01-19,12.0,15.563205,16.034621
80034,1.0,12.333333,0.0,2016.0,0.0,16.5,13.333333,STORE_1_714,2016-01-20,11.0,13.809200,16.034621
80035,1.0,11.166667,0.0,2016.0,0.0,16.5,11.000000,STORE_1_714,2016-01-21,15.0,12.876701,16.034621
0,1.0,13.166667,0.0,2016.0,0.0,16.5,12.666667,STORE_1_714,2016-01-22,NaN,15.563205,16.034621

In [11]:
result = evaluate_predictions(data_prediction)

In [12]:
result

         Prediction       MAPE       MAE      RMSE
0  model_prediction  79.791852  4.646038  5.994226
1   cnt_SMA_3_lag_1  96.520956  6.194444  7.778770
2   cnt_WMA_3_lag_1  92.944277  6.296296  7.703715
3              mean  74.008126  5.111111  6.309164
4  arima_prediction  71.607358  5.059402  6.326305